<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="react"></script>
        <link rel="stylesheet" href="bootstrap.css">
    </head>
    <body>
        <div class="container">
            <h1>It works!</h1>
        </div>
    </body>
</html>
