<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Merriweather+Sans|Lato:700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==" crossorigin="anonymous">
        <script type="text/javascript" src="react"></script>
        <link rel="stylesheet" href="bootstrap.css">
    </head>
    <body>
        <div id="reactHere" class="react-container"></div>
        <!-- // <script type="text/javascript" src="http://localhost:8080/assets/main.js"></script> -->
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>
