<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Bitter:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="react"></script>
        <link rel="stylesheet" href="bootstrap.css">
    </head>
    <body>
        <div id="reactHere" class="react-container"></div>
        <!-- // <script type="text/javascript" src="http://localhost:8080/assets/main.js"></script> -->
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>
